@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homebg {
  background-image: url(../public/Group\ 92.png);
  background-size: cover;
  background-repeat: no-repeat;
}
